[submodule "Depeg-swap/v2-core"]
	path = Depeg-swap/v2-core
	url = https://github.com/Cork-Technology/v2-core.git
[submodule "Depeg-swap/v2-periphery"]
	path = Depeg-swap/v2-periphery
	url = https://github.com/Cork-Technology/v2-periphery.git
